<!DOCTYPE html>
<html>
<head>
  <title>Meet The Team - SereneGardens</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="body-meet">
  <div class="container">
    <!-- Navigation links -->
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/discover">Discover</a>
    </div>

    <div class="team-member">
      <img src="/images/benjamin.jpg" alt="Team Member 1">
      <h2>Benjamin Blunt - Lead AI Developer</h2>
      <p>A visionary software engineer with a proven track record at leading tech companies. His commitment to innovation is matched by his dedication to sustainability and charitable causes, leading a carbon-neutral lifestyle and actively contributing to humanitarian efforts. Benjamin's expertise spans full-stack development, machine learning for imagery, and performance optimizations, making him a dynamic force in technology and social responsibility.</p>
    </div>
    <div class="team-member">
      <img src="/images/lisa.jpg" alt="Team Member 2">
      <h2>Lisa Gao - Data Scientist</h2>
      <p>Lingyun (Lisa) Gao is a data enthusiast poised to excel in the field of data science. She combines technical acumen with a strategic mindset.. Lisa's goal is not only to be a data scientist but to be a catalyst for data-driven transformation, empowering businesses and individuals with actionable insights.</p>
    </div>
    <div class="team-member">
      <img src="/images/suresh.jpg" alt="Team Member 3">
      <h2>Suresh L C - Project Lead</h2>
      <p>A technology enthusiast with wide industry experience of 19yr in technology domain in major conglomerates like Samsung Electronics. Worked on different verticals like mobile, health, IoT, Edge computing and in both B2B and B2C landscape. Understands the product in complete with knowing the customers(market), competitors, the development strategy and roll-out.</p>
    </div>
    <div class="team-member">
      <img src="/images/richa.jpg" alt="Team Member 4">
      <h2>Richa Handa - Lead Analytics</h2>
      <p>As our Lead Analytics expert, Richa Handa combines deep expertise in data analytics and digital marketing to enhance our platform's performance. Her skills and insights have been pivotal in optimizing our AI-driven garden renovation solutions, ensuring they are both user-friendly and data-informed.
      </p>
    </div>
    <div class="team-member">
      <img src="/images/alejandro.jpg" alt="Team Member 5">
      <h2>Alejandro Galvez - Developer</h2>
      <p>Alejandro Galvez, a Marine Corps veteran turned tech enthusiast, brings over 6 years of experience in developing and implementing technical solutions. At Expeditors, he excels in automating processes, enhancing security, and migrating servers. With leadership honed in the military, Alejandro is adept at driving efficiency and innovation. Armed with a Master's degree in Information Systems and a Bachelor's in Information Technology, he boasts a versatile skill set and certifications in Java programming and DevOps. Outside of work, Alejandro leads volunteer efforts as the Facilities Director at Garden City Church.</p>
    </div>
    <script
      src="https://www.chatbase.co/embed.min.js"
      chatbotId="fmGd7dtjohAopeyf2VgGa"
      domain="www.chatbase.co"
      defer>
  </script>
  </div>
</body>
</html>
